*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


.box{
   background: fuchsia;
   height: 50px;
   width: 50px;
   display: inline-block;
   margin: 10px;
}

.box2{
    background: yellow;
}

.box3{
    background: blue;
}

input{

    border: 3px solid red;
    color: blue;

}

input::placeholder{
    color: deeppink;
}

p{

    color: blue;

}

p::first-letter{

    color: darkslategray;

}

a::before{

    content: "->";

}